<div class="mt-6">
  <div class="flex items-center justify-center mb-6 ">
    <span class="text-3xl font-extrabold">{{'Coplan' | uppercase}}</span>
      <i class="w-10 h-10 ml-4 coplan-icon"></i>
  </div>
  
    <h2 class="mb-6 text-2xl font-bold text-center">Iniciar Sesión</h2>
    <form>
      <div class="mb-4">
        <label for="email" class="block mb-2 text-sm font-bold text-primary-700">Correo Electrónico</label>
        <input
          type="email"
          id="email"
          class="input-primary"
          placeholder="Correo Electrónico"
          autocomplete="new-username"
        >
      </div>
      <div class="mb-6">
        <label for="password" class="block mb-2 text-sm font-bold text-primary-700">Contraseña</label>
        <input 
          type="password"
          id="password" 
          class="input-primary" 
          placeholder="******" 
          autocomplete="new-password"
        >
        <a routerLink="/forgot-password" class="text-sm text-primary-500 hover:text-primary-800">¿Olvidaste tu contraseña?</a>
      </div>
      <div class="flex items-center justify-center">
        <button
          class="px-3 py-2 font-bold text-white rounded bg-primary-500 hover:bg-primary-700"
          type="button"
        > Iniciar Sesión
        </button>
      </div>
      <div class="mt-4 text-center">
        
        <p class="mt-4">Para registrarte, <a class="cursor-pointer text-primary-500 hover:text-primary-800" (click)="selectTab('register')">haz clic aquí</a>.</p>
      </div>
    </form>
  </div>
  