<div class="rounded-xl h-full p-3
  flex justify-center h-full flex-col justify-center sm:gap-6 gap-3">

  <div class="flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold">Bienvenido a Coplan:</h1>
    <h4 class="text-base mt-2">Por favor complete los siguientes campos para continuar en la aplicación.</h4>
  </div>

  <form  [formGroup]="registryForm" action="registry" class="flex flex-col gap-3 mt-8">
    <input type="text" formControlName="name" placeholder="{{ placeHolder.name }}"
      class="w-full px-3 py-2 mb-3 border rounded appearance-none text-primary-700">

    <input type="email" formControlName="email" placeholder="{{ placeHolder.email }}"
      class="w-full px-3 py-2 mb-3 border rounded appearance-none text-primary-700 border-amber-800">
      @if(registryForm.get('email')?.hasError('invalidEmail')){
        <div class="text-danger-500 w-full ">El mail que se esta ingresando no es valido</div>
      }

    <input type="password" formControlName="password" placeholder="{{ placeHolder.password }}"
      class="w-full px-3 py-2 mb-3 border rounded appearance-none text-primary-700">

    <input type="password" formControlName="confirmPassword" placeholder="{{ placeHolder.confirmPassword }}"
      class="w-full px-3 py-2 mb-3 border rounded appearance-none text-primary-700">


    <div class="flex justify-center items-center mt-6">
      <input type="submit"
        class="cursor-pointer w-32 border-2 border-amber-800 bg-white text-black px-4 py-3 rounded-md hover:bg-amber-800 hover:text-white"
        name="submit" value="{{ placeHolder.submit }}" id="registry">
    </div>
  </form>

</div>
