<body class="flex items-center justify-center min-h-screen antialiased">
    <div class="w-full p-8 shadow bg-light-200 md:w-1/3 rounded-xl">
        <h1 class="text-4xl font-medium">Resetear contraseña</h1>
        <p class="font-medium">Para restablecer su contraseña, introduzca su dirección de correo electrónico.</p>
        <form action="" class="my-10">
            <div class="flex flex-col space-y-5">
                <label for="email">
                    <p class="pb-2 font-medium">Correo Electrónico</p>
                    <input id="email" name="email" type="email"
                        class="w-full px-3 py-3 border rounded-lg border-dark-200 focus:outline-none focus:border-dark-500 hover:shadow"
                        placeholder="Correo Electrónico">
                </label>
                <button
                    class="inline-flex items-center justify-center w-full py-3 space-x-2 font-medium text-white rounded-lg bg-secondary-600 border-secondary-500 hover:bg-secondary-500 hover:shadow">
                    <span>Resetear contraseña</span>
                </button>
                <p class="text-center">¿Aún no se registró? <a routerLink=""
                        class="inline-flex items-center space-x-1 font-medium cursor-pointer text-secondary-600">
                        <span>Registrese ahora</span></a></p>
            </div>
        </form>
    </div>

</body>
