<!-- <div class="flex items-center justify-center h-full flex-col">

  <h2 class="text-xl font-extrabold text-center md:text-2xl">Bienvenido a Coplan</h2>

  <img src="coco-plan.jpg" alt="Logo">

</div> -->

<div class="flex items-center justify-center h-full flex-col relative">
  <img src="coco-plan.jpg" alt="Logo" class="w-full h-auto">
  <h2 class="absolute top-3/4 flex items-center justify-center text-xl font-extrabold text-center md:text-2xl text-white">
    Comience su camino junto a nosotros!
  </h2>
</div>
